<% if current_page?(root_url) && HomeVideo.all.length > 0 %>
    <div class="banner-container">       
        <% HomeVideo.all.shuffle.each_with_index do |video, index| %>
            <video muted playsinline id="banner-video-<%= index %>" style='display: none;'>
                <source 
                    src=<%= url_for(video.video) %> 
                    type=<%= video.get_type %> >
            </video>
        <% end %>      
    </div>
<% end %>