<div style="display: flex; justify-content: space-evenly; margin-bottom: 25px; margin-top: 25px;">
    <%= link_to 'View PDF', show_file_path('Tony_Resume_09_19_2023'), class: "btn btn-primary" %>
    <%= link_to 'Download PDF', show_file_path('Tony_Resume_09_19_2023'), class: "btn btn-primary", download: 'Tony_Resume_09_19_2023.pdf' %>
</div>
<div style="overflow: scroll">
    <%= image_tag("resume_ss.png", style: "min-width: 800px; margin: auto; width: 100%;") %>
</div>
