<h1> Last 100 Runs </h1>

<% if @recent_activities.present? %>
    <table class="table table-bordered table-stripped table-dark border-secondary table-sm" style="text-align: center">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th colspan="1">Distance</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% @recent_activities.each_with_index do |activity, index| %>
            <tr style="vertical-align: middle;">
            <th scope="row"> <%= index + 1 %> </th>
            <td> <%= activity[:date] %> </td>

            <td> 
                <%= activity[:distance] %>
            </td>      
            </tr>
        <% end %>
    </tbody>
    </table>
<% end %>