<div id="<%= dom_id run %>">
  <p>
    <strong>Date:</strong>
    <%= run.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= run.time %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= run.distance %>
  </p>

</div>
