<div id="visual-key" style="margin: 0 auto; width: fit-content; margin-bottom: 10px;">
  <span> Less </span>
  <span>
    <div style="display: inline-block;width: 11px; height: 11px; background-color: rgb(0,50,0); border-radius: 2px;"> </div>
    <div style="display: inline-block;width: 11px; height: 11px; background-color: rgb(0,120,0); border-radius: 2px;"> </div>
    <div style="display: inline-block;width: 11px; height: 11px; background-color: rgb(0,200,0); border-radius: 2px;"> </div>
    <div style="display: inline-block;width: 11px; height: 11px; background-color: rgb(0,255,0); border-radius: 2px;"> </div>
  </span>
  <span> More </span> 
  <span> . Lots </span>
  <div style=" display: inline-block;width: 11px; height: 11px; background-color: rgb(255,255,0); border-radius: 2px;"> </div>
</div>