.my-button-wrapper {
    display: table;
    vertical-align: middle;
}
.my-button-wrapper form {
    display: table-cell;
    vertical-align: middle;
}
.banner-container {
    height: 45vh; 
    overflow: hidden;
}
.banner-container video
{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}