.my-button-wrapper {
    display: table;
    vertical-align: middle;
}
.my-button-wrapper form {
    display: table-cell;
    vertical-align: middle;
}
.banner-container {
    height: 45vw; 
    overflow: hidden;
    width: 100vw;
    position: absolute;
    left: 0px;
}
.banner-container video
{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

/* Adjust the GitHub icon's color and size */
a svg {
    width: 100%; /* Adjust the width as desired */
    height: 100%; /* Adjust the height as desired */
}

.project-header-details
{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
  


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
td, th {
    padding: 0;
}

.ContributionCalendar-grid {
    width: max-content;
    border-collapse: separate;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    word-wrap: normal;
    border: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.ContributionCalendar-label {
    padding: .125em .5em .125em 0;
    font-size: 12px;
    font-weight: var(--base-text-weight-normal, 400);
    color: var(--color-fg-default);
    text-align: left;
    fill: var(--color-fg-default);
}

.ContributionCalendar-day, .ContributionCalendar-day {
    fill: rgb(33, 184, 20);
    shape-rendering: geometricPrecision;
    background-color: rgb(33, 184, 20);
    border-radius: 2px;
    outline: 1px solid rgb(40, 44, 40);
    outline-offset: -1px;
}

/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Spinner styles (using Bootstrap's spinner) */
.spinner {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 3px solid rgba(255,255,255, 0.4);
    border-radius: 50%;
    border-top: 3px solid #ffffff;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.custom-table {
    width: 100%; /* Optional: Adjust the table width as needed */
    border-collapse: collapse; /* Optional: Remove spacing between table cells */
  
    /* Add any other styles you need for the table, like font-size, etc. */
  }
  
  .custom-table th,
  .custom-table td {
    width: 50px;
    height: 50px;
    text-align: center; /* Optional: Center the content horizontally */
    vertical-align: middle; /* Optional: Center the content vertically */
    border: 1px solid black; /* Optional: Add borders around cells */
    
    /* Add any other styles you need for the table cells */
    /* e.g., background-color, font-size, etc. */
  }
  
