<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
        <style type="text/css">
            @import url(https://themes.googleusercontent.com/fonts/css?kit=sDU-RIIs3Wq_4pUcDwWu--kZLFsUQHNlkj6-gmWKzZlWQcMt4LNPAicvr8auQQHLAkCj7RwbEjaRtO4Iip_3-0mhwQ5t119gWx8zSN5X1yE);
            .lst-kix_yvpues8l52x3-1 > li:before {
                content: "o  ";
            }
            ul.lst-kix_list_1-0 {
                list-style-type: none;
            }
            .lst-kix_yvpues8l52x3-0 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_yvpues8l52x3-4 > li:before {
                content: "o  ";
            }
            .lst-kix_yvpues8l52x3-5 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_q8ghclf0hcpe-4 > li:before {
                content: "o  ";
            }
            .lst-kix_yvpues8l52x3-6 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_q8ghclf0hcpe-2 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_q8ghclf0hcpe-3 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_q8ghclf0hcpe-1 > li:before {
                content: "o  ";
            }
            ul.lst-kix_list_1-3 {
                list-style-type: none;
            }
            ul.lst-kix_list_1-4 {
                list-style-type: none;
            }
            ul.lst-kix_list_1-1 {
                list-style-type: none;
            }
            ul.lst-kix_list_1-2 {
                list-style-type: none;
            }
            .lst-kix_yvpues8l52x3-3 > li:before {
                content: "\0025cf   ";
            }
            ul.lst-kix_list_1-7 {
                list-style-type: none;
            }
            .lst-kix_q8ghclf0hcpe-0 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_list_1-8 {
                list-style-type: none;
            }
            ul.lst-kix_list_1-5 {
                list-style-type: none;
            }
            ul.lst-kix_list_1-6 {
                list-style-type: none;
            }
            .lst-kix_yvpues8l52x3-2 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_2y7vxmhedgu2-3 {
                list-style-type: none;
            }
            ul.lst-kix_2y7vxmhedgu2-4 {
                list-style-type: none;
            }
            ul.lst-kix_2y7vxmhedgu2-1 {
                list-style-type: none;
            }
            ul.lst-kix_2y7vxmhedgu2-2 {
                list-style-type: none;
            }
            ul.lst-kix_2y7vxmhedgu2-7 {
                list-style-type: none;
            }
            ul.lst-kix_2y7vxmhedgu2-8 {
                list-style-type: none;
            }
            ul.lst-kix_2y7vxmhedgu2-5 {
                list-style-type: none;
            }
            ul.lst-kix_2y7vxmhedgu2-6 {
                list-style-type: none;
            }
            ul.lst-kix_q8ghclf0hcpe-7 {
                list-style-type: none;
            }
            ul.lst-kix_q8ghclf0hcpe-6 {
                list-style-type: none;
            }
            ul.lst-kix_q8ghclf0hcpe-8 {
                list-style-type: none;
            }
            ul.lst-kix_2y7vxmhedgu2-0 {
                list-style-type: none;
            }
            ul.lst-kix_q8ghclf0hcpe-1 {
                list-style-type: none;
            }
            ul.lst-kix_q8ghclf0hcpe-0 {
                list-style-type: none;
            }
            .lst-kix_yvpues8l52x3-7 > li:before {
                content: "o  ";
            }
            ul.lst-kix_q8ghclf0hcpe-3 {
                list-style-type: none;
            }
            ul.lst-kix_q8ghclf0hcpe-2 {
                list-style-type: none;
            }
            .lst-kix_q8ghclf0hcpe-5 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_q8ghclf0hcpe-5 {
                list-style-type: none;
            }
            ul.lst-kix_q8ghclf0hcpe-4 {
                list-style-type: none;
            }
            .lst-kix_yvpues8l52x3-8 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_q8ghclf0hcpe-6 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_q8ghclf0hcpe-7 > li:before {
                content: "o  ";
            }
            .lst-kix_q8ghclf0hcpe-8 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_2y7vxmhedgu2-8 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_list_5-0 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_2y7vxmhedgu2-7 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_2y7vxmhedgu2-6 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_5-3 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_2y7vxmhedgu2-4 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_list_5-2 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_2y7vxmhedgu2-3 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_2y7vxmhedgu2-5 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_list_5-1 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_list_5-7 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_list_5-6 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_5-8 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_list_5-4 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_list_5-5 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_list_6-1 > li:before {
                content: "o  ";
            }
            .lst-kix_list_6-3 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_6-0 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_list_6-4 > li:before {
                content: "o  ";
            }
            .lst-kix_list_6-2 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_2y7vxmhedgu2-0 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_2y7vxmhedgu2-1 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_2y7vxmhedgu2-2 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_list_6-8 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_list_6-5 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_list_6-7 > li:before {
                content: "o  ";
            }
            .lst-kix_list_6-6 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_2-7 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_list_7-4 > li:before {
                content: "o  ";
            }
            .lst-kix_list_7-6 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_2-5 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_list_7-2 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_17lelhe53v67-2 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_list_3-7 {
                list-style-type: none;
            }
            ul.lst-kix_list_3-8 {
                list-style-type: none;
            }
            .lst-kix_17lelhe53v67-4 > li:before {
                content: "o  ";
            }
            .lst-kix_17lelhe53v67-6 > li:before {
                content: "\0025cf   ";
            }
            ul.lst-kix_list_3-1 {
                list-style-type: none;
            }
            ul.lst-kix_list_3-2 {
                list-style-type: none;
            }
            .lst-kix_list_7-8 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_list_3-0 {
                list-style-type: none;
            }
            .lst-kix_17lelhe53v67-8 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_list_3-5 {
                list-style-type: none;
            }
            ul.lst-kix_list_3-6 {
                list-style-type: none;
            }
            ul.lst-kix_list_3-3 {
                list-style-type: none;
            }
            ul.lst-kix_list_3-4 {
                list-style-type: none;
            }
            .lst-kix_list_4-1 > li:before {
                content: "o  ";
            }
            .lst-kix_list_4-3 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_4-5 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_17lelhe53v67-0 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_list_2-8 {
                list-style-type: none;
            }
            ul.lst-kix_list_2-2 {
                list-style-type: none;
            }
            ul.lst-kix_list_2-3 {
                list-style-type: none;
            }
            ul.lst-kix_list_2-0 {
                list-style-type: none;
            }
            ul.lst-kix_list_2-1 {
                list-style-type: none;
            }
            ul.lst-kix_list_2-6 {
                list-style-type: none;
            }
            .lst-kix_list_1-1 > li:before {
                content: "o  ";
            }
            ul.lst-kix_list_2-7 {
                list-style-type: none;
            }
            ul.lst-kix_list_2-4 {
                list-style-type: none;
            }
            ul.lst-kix_list_2-5 {
                list-style-type: none;
            }
            ul.lst-kix_17lelhe53v67-1 {
                list-style-type: none;
            }
            .lst-kix_list_1-3 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_v06c64qfodbv-5 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_17lelhe53v67-0 {
                list-style-type: none;
            }
            .lst-kix_v06c64qfodbv-3 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_v06c64qfodbv-7 > li:before {
                content: "o  ";
            }
            .lst-kix_list_1-7 > li:before {
                content: "o  ";
            }
            .lst-kix_list_1-5 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_list_2-1 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_list_2-3 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_v06c64qfodbv-1 > li:before {
                content: "o  ";
            }
            ul.lst-kix_17lelhe53v67-8 {
                list-style-type: none;
            }
            ul.lst-kix_17lelhe53v67-7 {
                list-style-type: none;
            }
            ul.lst-kix_17lelhe53v67-6 {
                list-style-type: none;
            }
            ul.lst-kix_17lelhe53v67-5 {
                list-style-type: none;
            }
            ul.lst-kix_17lelhe53v67-4 {
                list-style-type: none;
            }
            ul.lst-kix_17lelhe53v67-3 {
                list-style-type: none;
            }
            ul.lst-kix_17lelhe53v67-2 {
                list-style-type: none;
            }
            .lst-kix_list_3-0 > li:before {
                content: "\0025cf   ";
            }
            ul.lst-kix_list_5-7 {
                list-style-type: none;
            }
            ul.lst-kix_v06c64qfodbv-2 {
                list-style-type: none;
            }
            ul.lst-kix_list_5-8 {
                list-style-type: none;
            }
            .lst-kix_list_3-1 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_list_3-2 > li:before {
                content: "\0025a0   ";
            }
            ul.lst-kix_v06c64qfodbv-3 {
                list-style-type: none;
            }
            ul.lst-kix_list_5-5 {
                list-style-type: none;
            }
            ul.lst-kix_v06c64qfodbv-4 {
                list-style-type: none;
            }
            ul.lst-kix_list_5-6 {
                list-style-type: none;
            }
            ul.lst-kix_v06c64qfodbv-5 {
                list-style-type: none;
            }
            ul.lst-kix_v06c64qfodbv-0 {
                list-style-type: none;
            }
            ul.lst-kix_v06c64qfodbv-1 {
                list-style-type: none;
            }
            .lst-kix_list_3-5 > li:before {
                content: "\0025a0   ";
            }
            ul.lst-kix_list_5-0 {
                list-style-type: none;
            }
            .lst-kix_list_3-4 > li:before {
                content: "\0025cb   ";
            }
            ul.lst-kix_list_5-3 {
                list-style-type: none;
            }
            .lst-kix_list_3-3 > li:before {
                content: "\0025cf   ";
            }
            ul.lst-kix_v06c64qfodbv-6 {
                list-style-type: none;
            }
            ul.lst-kix_list_5-4 {
                list-style-type: none;
            }
            ul.lst-kix_v06c64qfodbv-7 {
                list-style-type: none;
            }
            ul.lst-kix_list_5-1 {
                list-style-type: none;
            }
            ul.lst-kix_v06c64qfodbv-8 {
                list-style-type: none;
            }
            ul.lst-kix_list_5-2 {
                list-style-type: none;
            }
            .lst-kix_list_3-8 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_list_3-6 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_3-7 > li:before {
                content: "\0025cb   ";
            }
            ul.lst-kix_yvpues8l52x3-7 {
                list-style-type: none;
            }
            ul.lst-kix_yvpues8l52x3-8 {
                list-style-type: none;
            }
            ul.lst-kix_yvpues8l52x3-5 {
                list-style-type: none;
            }
            ul.lst-kix_yvpues8l52x3-6 {
                list-style-type: none;
            }
            ul.lst-kix_yvpues8l52x3-0 {
                list-style-type: none;
            }
            ul.lst-kix_yvpues8l52x3-3 {
                list-style-type: none;
            }
            ul.lst-kix_yvpues8l52x3-4 {
                list-style-type: none;
            }
            ul.lst-kix_yvpues8l52x3-1 {
                list-style-type: none;
            }
            ul.lst-kix_yvpues8l52x3-2 {
                list-style-type: none;
            }
            .lst-kix_list_4-8 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_list_4-7 > li:before {
                content: "o  ";
            }
            ul.lst-kix_list_4-8 {
                list-style-type: none;
            }
            ul.lst-kix_list_4-6 {
                list-style-type: none;
            }
            ul.lst-kix_list_4-7 {
                list-style-type: none;
            }
            ul.lst-kix_list_4-0 {
                list-style-type: none;
            }
            ul.lst-kix_list_4-1 {
                list-style-type: none;
            }
            ul.lst-kix_list_4-4 {
                list-style-type: none;
            }
            ul.lst-kix_list_4-5 {
                list-style-type: none;
            }
            ul.lst-kix_list_4-2 {
                list-style-type: none;
            }
            ul.lst-kix_list_4-3 {
                list-style-type: none;
            }
            .lst-kix_list_7-0 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_list_2-6 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_2-4 > li:before {
                content: "\0025cb   ";
            }
            .lst-kix_list_2-8 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_list_7-1 > li:before {
                content: "o  ";
            }
            .lst-kix_list_7-5 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_17lelhe53v67-1 > li:before {
                content: "o  ";
            }
            .lst-kix_list_7-3 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_17lelhe53v67-3 > li:before {
                content: "\0025cf   ";
            }
            ul.lst-kix_list_7-5 {
                list-style-type: none;
            }
            ul.lst-kix_list_7-6 {
                list-style-type: none;
            }
            ul.lst-kix_list_7-3 {
                list-style-type: none;
            }
            ul.lst-kix_list_7-4 {
                list-style-type: none;
            }
            ul.lst-kix_list_7-7 {
                list-style-type: none;
            }
            ul.lst-kix_list_7-8 {
                list-style-type: none;
            }
            .lst-kix_17lelhe53v67-5 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_v06c64qfodbv-8 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_list_7-1 {
                list-style-type: none;
            }
            ul.lst-kix_list_7-2 {
                list-style-type: none;
            }
            ul.lst-kix_list_7-0 {
                list-style-type: none;
            }
            .lst-kix_list_7-7 > li:before {
                content: "o  ";
            }
            .lst-kix_17lelhe53v67-7 > li:before {
                content: "o  ";
            }
            .lst-kix_list_4-0 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_list_4-4 > li:before {
                content: "o  ";
            }
            .lst-kix_list_4-2 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_list_4-6 > li:before {
                content: "\0025cf   ";
            }
            ul.lst-kix_list_6-6 {
                list-style-type: none;
            }
            ul.lst-kix_list_6-7 {
                list-style-type: none;
            }
            ul.lst-kix_list_6-4 {
                list-style-type: none;
            }
            ul.lst-kix_list_6-5 {
                list-style-type: none;
            }
            ul.lst-kix_list_6-8 {
                list-style-type: none;
            }
            .lst-kix_list_1-0 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_list_6-2 {
                list-style-type: none;
            }
            ul.lst-kix_list_6-3 {
                list-style-type: none;
            }
            .lst-kix_list_1-2 > li:before {
                content: "\0025aa   ";
            }
            ul.lst-kix_list_6-0 {
                list-style-type: none;
            }
            ul.lst-kix_list_6-1 {
                list-style-type: none;
            }
            .lst-kix_list_1-4 > li:before {
                content: "o  ";
            }
            .lst-kix_v06c64qfodbv-4 > li:before {
                content: "o  ";
            }
            .lst-kix_v06c64qfodbv-2 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_v06c64qfodbv-6 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_1-6 > li:before {
                content: "\0025cf   ";
            }
            li.li-bullet-0:before {
                margin-left: -18pt;
                white-space: nowrap;
                display: inline-block;
                min-width: 18pt;
            }
            .lst-kix_list_2-0 > li:before {
                content: "\0025cf   ";
            }
            .lst-kix_list_1-8 > li:before {
                content: "\0025aa   ";
            }
            .lst-kix_list_2-2 > li:before {
                content: "\0025a0   ";
            }
            .lst-kix_v06c64qfodbv-0 > li:before {
                content: "\0025aa   ";
            }
            ol {
                margin: 0;
                padding: 0;
            }
            table td,
            table th {
                padding: 0;
            }
            .c12 {
                margin-left: 18pt;
                padding-top: 0pt;
                padding-left: 0pt;
                padding-bottom: 0pt;
                line-height: 1;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .c7 {
                margin-left: 36pt;
                padding-top: 0pt;
                padding-left: 0pt;
                padding-bottom: 0pt;
                line-height: 1;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .c5 {
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 11pt;
                font-family: "Garamond";
                font-style: normal;
            }
            .c1 {
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 5pt;
                font-family: "Garamond";
                font-style: normal;
            }
            .c2 {
                padding-top: 0pt;
                border-bottom-color: #000000;
                border-bottom-width: 0.8pt;
                padding-bottom: 1pt;
                line-height: 1;
                border-bottom-style: solid;
                text-align: left;
            }
            .c27 {
                margin-left: 36pt;
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .c8 {
                color: #7f7f7f;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 8pt;
                font-family: "Cambria";
                font-style: italic;
            }
            .c10 {
                padding-top: 0pt;
                padding-bottom: 6pt;
                line-height: 1;
                orphans: 2;
                widows: 2;
                text-align: center;
                height: 12pt;
            }
            .c16 {
                padding-top: 0pt;
                border-bottom-color: #000000;
                border-bottom-width: 0.8pt;
                padding-bottom: 1pt;
                line-height: 1.05;
                border-bottom-style: solid;
                text-align: left;
            }
            .c21 {
                padding-top: 12pt;
                padding-bottom: 12pt;
                line-height: 1;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .c34 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .c36 {
                -webkit-text-decoration-skip: none;
                color: #000000;
                text-decoration: underline;
                vertical-align: baseline;
                text-decoration-skip-ink: none;
                font-style: normal;
            }
            .c13 {
                font-size: 11pt;
                font-family: "Garamond";
                font-style: italic;
                font-weight: 400;
            }
            .c0 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.05;
                text-align: left;
            }
            .c6 {
                color: #000000;
                text-decoration: none;
                vertical-align: baseline;
                font-style: normal;
            }
            .c9 {
                font-size: 13pt;
                font-family: "Garamond";
                font-weight: 400;
            }
            .c17 {
                font-size: 11pt;
                font-family: "Garamond";
                font-weight: 400;
            }
            .c28 {
                font-weight: 400;
                font-size: 7pt;
                font-family: "Garamond";
            }
            .c24 {
                font-size: 13pt;
                font-family: "Noto Sans Symbols";
                font-weight: 400;
            }
            .c18 {
                color: #000000;
                text-decoration: none;
                vertical-align: baseline;
            }
            .c26 {
                font-weight: 700;
                font-size: 12pt;
                font-family: "Garamond";
            }
            .c33 {
                font-weight: 400;
                font-size: 12pt;
                font-family: "Garamond";
            }
            .c20 {
                font-weight: 400;
                font-size: 6pt;
                font-family: "Garamond";
            }
            .c4 {
                font-size: 11pt;
                font-family: "Garamond";
                font-weight: 700;
            }
            .c30 {
                font-weight: 400;
                font-size: 10pt;
                font-family: "Garamond";
            }
            .c25 {
                font-weight: 700;
                font-size: 7pt;
                font-family: "Garamond";
            }
            .c19 {
                font-weight: 700;
                font-size: 21pt;
                font-family: "Garamond";
            }
            .c11 {
                font-weight: 400;
                font-size: 8pt;
                font-family: "Garamond";
            }
            .c15 {
                background-color: #ffffff;
                max-width: 540pt;
                padding: 31.5pt 36pt 20.7pt 36pt;
            }
            .c3 {
                padding: 0;
                margin: 0;
            }
            .c14 {
                margin-left: 36pt;
                padding-left: 0pt;
            }
            .c29 {
                margin-left: 18pt;
                padding-left: 0pt;
            }
            .c22 {
                margin-left: 18pt;
                height: 12pt;
            }
            .c31 {
                font-weight: 700;
                font-family: "Garamond";
            }
            .c35 {
                font-style: italic;
            }
            .c23 {
                height: 12pt;
            }
            .c32 {
                font-size: 6pt;
            }
            .title {
                padding-top: 24pt;
                color: #000000;
                font-weight: 700;
                font-size: 36pt;
                padding-bottom: 6pt;
                font-family: "Cambria";
                line-height: 1;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            .subtitle {
                padding-top: 18pt;
                color: #666666;
                font-size: 24pt;
                padding-bottom: 4pt;
                font-family: "Georgia";
                line-height: 1;
                page-break-after: avoid;
                font-style: italic;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            li {
                color: #000000;
                font-size: 12pt;
                font-family: "Cambria";
            }
            p {
                margin: 0;
                color: #000000;
                font-size: 12pt;
                font-family: "Cambria";
            }
            h1 {
                padding-top: 24pt;
                color: #000000;
                font-weight: 700;
                font-size: 24pt;
                padding-bottom: 6pt;
                font-family: "Cambria";
                line-height: 1;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h2 {
                padding-top: 18pt;
                color: #000000;
                font-weight: 700;
                font-size: 18pt;
                padding-bottom: 4pt;
                font-family: "Cambria";
                line-height: 1;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h3 {
                padding-top: 14pt;
                color: #000000;
                font-weight: 700;
                font-size: 14pt;
                padding-bottom: 4pt;
                font-family: "Cambria";
                line-height: 1;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h4 {
                padding-top: 12pt;
                color: #000000;
                font-weight: 700;
                font-size: 12pt;
                padding-bottom: 2pt;
                font-family: "Cambria";
                line-height: 1;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h5 {
                padding-top: 11pt;
                color: #000000;
                font-weight: 700;
                font-size: 11pt;
                padding-bottom: 2pt;
                font-family: "Cambria";
                line-height: 1;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
            h6 {
                padding-top: 10pt;
                color: #000000;
                font-weight: 700;
                font-size: 10pt;
                padding-bottom: 2pt;
                font-family: "Cambria";
                line-height: 1;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <div style="width: 100vw; min-width: 816px;">
            <div style="display: flex; justify-content: space-evenly;">
                <%= yield %>
            </div>
            <div class="c15 doc-content" style="background: wheat; margin: auto;"> 
                <p class="c2"><span class="c6 c19">Anthony D’Alesandro</span></p>
                <p class="c2">
                    <span class="c9">ajdalesandro0115@gmail.com </span
                    ><span class="c24">❖</span
                    ><span class="c9">&nbsp;(937) 422-7787 </span
                    ><span class="c24">❖</span
                    ><span class="c9">&nbsp;Columbus, OH</span>
                </p>
                <p class="c0 c22"><span class="c1"></span></p>
                <p class="c0">
                    <span class="c4">Objective</span
                    ><span class="c5"
                        >: To secure a software engineering position where I can apply
                        my technical skills to challenging problems.</span
                    >
                </p>
                <p class="c0 c23"><span class="c6 c20"></span></p>
                <p class="c16"><span class="c6 c4">WORK EXPERIENCE </span></p>
                <p class="c0 c23"><span class="c31 c32 c36"></span></p>
                <p class="c0">
                    <span class="c4 c6"
                        >The College of
                        Engineering&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;Oct. 2022 – Present</span
                    >
                </p>
                <p class="c0">
                    <span class="c13 c18"
                        >Undergraduate Teaching
                        Assistant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Columbus, OH</span
                    >
                </p>
                <ul class="c3 lst-kix_17lelhe53v67-0 start">
                    <li class="c0 c29 li-bullet-0">
                        <span class="c5"
                            >Evaluated and provided feedback on student solutions and
                            implementations of a game, ensuring that assignments were
                            completed accurately and on time.</span
                        >
                    </li>
                    <li class="c0 c29 li-bullet-0">
                        <span class="c5"
                            >Emphasized the importance of creating expandable code to
                            support future development efforts and enable easy
                            maintenance, while helping students develop good programming
                            habits that can be applied to future projects.</span
                        >
                    </li>
                </ul>
                <p class="c0 c23"><span class="c6 c25"></span></p>
                <p class="c0">
                    <span class="c6 c4"
                        >Ohio Supercomputer Center
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May.
                        2022 – Oct 2022</span
                    >
                </p>
                <p class="c0">
                    <span class="c13"
                        >Software
                        Engineer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Columbus,
                        OH</span
                    >
                </p>
                <ul class="c3 lst-kix_v06c64qfodbv-0 start">
                    <li class="c0 c29 li-bullet-0">
                        <span class="c5"
                            >Optimized performance of SETSM software by enhancing its
                            codebase in C, resulting in significant improvements in
                            processing speed and efficiency.</span
                        >
                    </li>
                    <li class="c0 c29 li-bullet-0">
                        <span class="c5"
                            >Successfully translated MATLAB code to Python, streamlining
                            the software development process and making it more
                            accessible to team members with different programming
                            backgrounds.</span
                        >
                    </li>
                    <li class="c0 c29 li-bullet-0">
                        <span class="c5"
                            >Collaborated in a team environment using GIT for version
                            control, while developing comprehensive unit tests for
                            Python functions and gaining proficiency in batch systems
                            and job submissions</span
                        >
                    </li>
                </ul>
                <p class="c0 c23"><span class="c6 c30"></span></p>
                <p class="c16"><span class="c6 c26">EDUCATION </span></p>
                <p class="c0">
                    <span class="c6 c31 c32"
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                    >
                </p>
                <p class="c0">
                    <span class="c6 c4"
                        >The Ohio State
                        University&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp;Dec, 2023
                    </span>
                </p>
                <p class="c0">
                    <span class="c13 c18"
                        >BS, Computer Science
                        Engineering&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;Columbus, OH</span
                    >
                </p>
                <ul class="c3 lst-kix_yvpues8l52x3-0 start">
                    <li class="c0 c14 li-bullet-0">
                        <span class="c4">3.906 GPA</span
                        ><span class="c17">&nbsp;- </span
                        ><span class="c4">Specialized</span
                        ><span class="c17"
                            >&nbsp;in Rendering and Game Development, </span
                        ><span class="c4">Minor</span
                        ><span class="c5">&nbsp;in Game Studies</span>
                    </li>
                    <li class="c0 c14 li-bullet-0">
                        <span class="c5"
                            >Relevant Coursework: Software and System Cycle, Game Design
                            Capstone, Real-time Rendering, Linear Algebra</span
                        >
                    </li>
                </ul>
                <ul class="c3 lst-kix_q8ghclf0hcpe-0 start">
                    <li class="c0 c29 li-bullet-0">
                        <span class="c5"
                            >Participated in 24 hour Hackathon to create projects, Game
                            Development Club, Run Club</span
                        >
                    </li>
                </ul>
                <p class="c0 c22"><span class="c6 c33"></span></p>
                <p class="c16"><span class="c31">NOTABLE PROJECTS </span></p>
                <p class="c0 c23"><span class="c6 c20"></span></p>
                <p class="c0">
                    <span class="c4">Personal Website and Portfolio</span
                    ><span class="c4 c35">&nbsp;</span
                    ><span class="c13">(www.antdev.cc) </span
                    ><span class="c4"
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Present</span
                    ><span class="c13"
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                    >
                </p>
                <ul class="c3 lst-kix_17lelhe53v67-0">
                    <li class="c12 li-bullet-0">
                        <span class="c5"
                            >Developed a dynamic Personal Website and Project Portfolio
                            utilizing Ruby on Rails, showcasing my professional
                            accomplishments and skills.</span
                        >
                    </li>
                    <li class="c12 li-bullet-0">
                        <span class="c5"
                            >Integrated advanced functionality to track my running
                            streak, leveraging API calls to Strava for real-time data
                            integration.</span
                        >
                    </li>
                    <li class="c12 li-bullet-0">
                        <span class="c5"
                            >Hosted the website seamlessly on Heroku, optimizing
                            accessibility and performance, while employing PostgreSQL
                            for secure user authentication and database
                            management.</span
                        >
                    </li>
                </ul>
                <p class="c0 c23"><span class="c6 c11"></span></p>
                <p class="c0">
                    <span class="c4"
                        >Unholy Ground
                        Game&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp;May. 2023</span
                    ><span class="c13"
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                    >
                </p>
                <ul class="c3 lst-kix_17lelhe53v67-0">
                    <li class="c12 li-bullet-0">
                        <span class="c5"
                            >Led a collaborative team of seven in the successful
                            development of "UnholyGround," a captivating open-world
                            first-person shooter game created in Unity.</span
                        >
                    </li>
                    <li class="c12 li-bullet-0">
                        <span class="c5"
                            >Spearheaded project management efforts, orchestrating
                            seamless coordination among team members and ensuring timely
                            milestones.</span
                        >
                    </li>
                </ul>
                <p class="c22 c34"><span class="c5"></span></p>
                <p class="c16"><span class="c31">SKILLS</span></p>
                <p class="c23 c27"><span class="c6 c20"></span></p>
                <ul class="c3 lst-kix_2y7vxmhedgu2-0 start">
                    <li class="c7 li-bullet-0">
                        <span class="c5"
                            >Proficient in C#, C, JavaScript, Python, HTML, CSS,
                            TypeScript, Ruby, Rails, C++, and Java.</span
                        >
                    </li>
                    <li class="c7 li-bullet-0">
                        <span class="c5"
                            >Proficient in using version control systems such as Git for
                            collaborative work.</span
                        >
                    </li>
                    <li class="c7 li-bullet-0">
                        <span class="c5"
                            >Demonstrated the ability to work in a complex team
                            environment of 7 developers.</span
                        >
                    </li>
                    <li class="c7 li-bullet-0">
                        <span class="c5"
                            >Extensive experience in using C# to create cohesive
                            software and algorithms for game development in Unity.</span
                        >
                    </li>
                    <li class="c7 li-bullet-0">
                        <span class="c5"
                            >Developed small-scale games in C, including Quizlet and
                            Minesweeper.</span
                        >
                    </li>
                    <li class="c7 li-bullet-0">
                        <span class="c5"
                            >Implemented a rendering engine using VTK and Qt5 in
                            C++.</span
                        >
                    </li>
                    <li class="c7 li-bullet-0">
                        <span class="c17"
                            >Proficient in JavaScript, HTML, and CSS to create cohesive
                            and well rounded UI/UX for a website.</span
                        >
                    </li>
                    <li class="c14 c21 li-bullet-0">
                        <span class="c5"
                            >Familiarity with software development methodologies,
                            including Agile.</span
                        >
                    </li>
                    <li class="c21 c14 li-bullet-0">
                        <span class="c17"
                            >Familiarity with software development life cycle including
                            requirement analysis through CSE 3231 at OSU.</span
                        >
                    </li>
                </ul>
                <div>
                    <p class="c10"><span class="c8"></span></p>
                </div>
            </div>
        </div>
    </body>
</html>
